  
  
  /*-------------------------*/
 /*--  Custom Properties  --*/
/*-------------------------*/

:root {
	--blanco: #ffffff;
	--gris: #757575;
	--primario: #0F2D56;
	--secundario: #0d284e;
	--terciario: #9FC0EE;
}



  /*--------------------*/
 /*--  Media Querie  --*/
/*--------------------*/

@media (max-width:682px) {
	
	.navegacion-principal {
	display: flex;
	flex-direction: column;
	align-items: center;
	}
}



  /*-----------------------*/
 /*--  Font Properties  --*/
/*-----------------------*/

html {
	font-size: 62.5%;
}

body {
	font-size: 16; /** 1rem = 10px **/
	font-family: 'Montserrat';
	background-color: var(--terciario);
}



  /*---------------*/
 /*--   Header  --*/
/*---------------*/

header {
	background-color: var(--primario);
	border: 1px solid var(--primario);
}

.titulo {
	font-size: 3rem;
	color: var(--blanco);
}

.hspan {
	font-size: 2rem;
	color: var(--gris);
}



  /*----------------*/
 /*--     Nav    --*/
/*----------------*/

.contenedor {
	width: 120rem;
	margin: 0 auto;
}

.nav-bg {
	background-color: var(--secundario);
}

.navegacion-principal {
	display: flex; /* ¡¡¡SIEMPRE UN DISPLAY FLEX ARRIBA DEL JUSTIFY!!!*/
	justify-content: space-around;
}

.navegacion-principal a {
	text-decoration: none;
	font-size: 1.5rem;
	color: #ffffff;
	padding: .5rem;
}

.navegacion-principal a:hover {
	background-color: var(--terciario);
	color: var(--primario);
}



  /*----------------*/
 /*--   Footer   --*/
/*----------------*/

footer {
	color: white;
	background-color: var(--primario);
}

.footer-sanchez {
	weight: bold;
}

.footer-dev {
	color: #757575;
	weight: bold;
}

#titulo {
	font-size: 3rem;
	color: white
}





.centrado {
	text-align: center;
}

.margin-main {
	margin: 5rem 0 2rem;
}